header {
    background: #bbb;
    padding: 20px 0;
}

.container {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}